<div class="leftcolumn">
  <a href=""></a>
</div>
<div class="rightcolumn">
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>
  <li><%= @palmreaders = Faker::Name.name %></li>

</div>







