<div class="leftcolumn">

  <% @zodiac.each do |sign| %>

  <a href="<%= sign[:link] %>"> <li><%= sign[:name] %>
    <%= sign[:date] %></li></a>
    <br>
  <% end %>
</div>
<div class="rightcolumn">
  <center><h1>Zodiac</h1></center>
  <p><%= Faker::Lorem.paragraph(25) %></p>
  <div class="rightcolumn-blockquote">
    <li><%= Faker::Lorem.word %></li>
    <li><%= Faker::Lorem.word %></li>
    <li><%= Faker::Lorem.word %></li>
    <li><%= Faker::Lorem.word %></li>
  </div>
<p><%= Faker::Lorem.paragraph(10) %></p>
</div>

